/* TransactionList.module.css */

.transactionListContainer {
    padding: 20px;
    border: 1px solid #ccc;
    width: 50vw;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .transactionListTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .transactionListItem {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  /* Add more styles as needed */
  